<div class="col-xs-12"  >	
	<tag-system 
	wid="1"
	url="$ctrl.url"
	></tag-system>
	<div 
		class="col-xs-12  bottom_line"
	>	
		系統訊息:{{message}}
	</div>
	<div 
		class="col-xs-12  bottom_line"
	>	
		<pagnation 
		data="cache.limit" 
		callback="get" 
		></pagnation>
	</div>
	
	<div 
		class="col-xs-12 col-md-6 bottom_line"
	>	
		<textarea
		style="vertical-align: middle;"
		placeholder="輸入粉絲團網址後enter搜尋"
		
		ng-model="fb_id"
		ng-enter="get_fan_data(fb_id,insert);"
		></textarea>
		<div 
		style="display:inline-block;"
		ng-if="insert.fb_id"
		>	
			{{insert.name}}
			<img 
			style="width:50px;height:50px;vertical-align: middle;"
			ng-src="https://graph.facebook.com/{{insert.fb_id}}/picture?width=100&height=100&type=large"
			/>
			{{insert.fan_count}}
			<button
			class="btn btn-primary"
			ng-click="add(insert)"
			>新增粉絲團</button>
		</div>
	</div>
	<div 
	 
		class="col-xs-12 col-md-6 bottom_line"
	>	
		<div style="display:inline-block;">
			app_id:
			<textarea 
			style="vertical-align: middle;"
			ng-model="AppData.id"
			ng-enter="setFB(AppData)"
			></textarea>
		</div>
		<div style="display:inline-block;">
			secret:
			<textarea 
			style="vertical-align: middle;"
			ng-model="AppData.secret"
			ng-enter="setFB(AppData)"
			></textarea>
		</div>
	</div>
	<div 
	class="col-xs-12 row"
	>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div style="vertical-align: top;display:inline-block;">
				<textarea 
				placeholder="搜尋名稱" 
				ng-enter="add_where_name(search.name);search.name=undefined;" 
				ng-model="search.name" 
				></textarea>
			</div>
			<div style="vertical-align: top;display:inline-block;">
				<div>
					狀態
					<select 
					ng-options="item.id as item.name for item in status_arr"
					ng-model="cache.where_status.value"
					></select>
					<button
					class="btn btn-sm"
					ng-class="cache.where_status.sw?'btn-danger':'btn-primary'"
					ng-click="cache.where_status.sw=(cache.where_status.sw?0:1)"
					>{{cache.where_status.sw?'開':'關'}}</button>
				</div>
				<div>
					排序
					<button
					class="btn btn-primary btn-sm"
					ng-click="cache.order_list.type=(cache.order_list.type*1+1) % 2"
					>粉絲數{{cache.order_list.type?'↓':'↑'}}</button>
				</div>
			</div>
			<div>
				<button 
				class="btn btn-primary btn-sm"
				ng-click="del_where_name($index)"
				ng-repeat="item in cache.where_name"
				>{{item}}</button>
			</div>
		</div>
		 
		<div class="col-xs-12 col-md-6 col-lg-8">
			<search-tag 
			data="cache.search_tid" 
			callback="get"
			></search-tag>
		</div>
	</div>
	<div 
	ng-if="list.length"
	
	class="col-xs-12 row" 
	ng-repeat="item in list"
	>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<a 
			style="display:inline-block;vertical-align: middle;"
			target="_blank" 
			href="http://facebook.com/{{item.fb_id}}">
				<img 
				style="height:100%;"
				ng-src="https://graph.facebook.com/{{item.fb_id}}/picture?width=100&height=100&type=large"
				/>
			</a>
			<div style="display:inline-block;vertical-align: middle;">
				<div>
					{{item.name}}
				</div>
				<div>
				fb_id:{{item.fb_id}}
				</div>
				<div>
				粉絲數量:{{item.fan_count}}
				</div>
				<div>
					狀態
					<select 
					ng-options="item.id as item.name for item in status_arr"
					ng-model="item.status"
					ng-change="ch({status:item.status},{id:item.id})"
					></select>
				</div>
			</div>
			
		</div>
		
		
		<div class="col-xs-12 col-md-6  col-lg-8">
			<source-tag 
			id="item.id" 
			name="'正在編輯--'+item.name+'--粉絲團標籤'"
			><source-tag>
		</div>
	</div>
	<div class="col-xs-12" ng-if="!list.length">
		沒有資料
	</div>
</div>
	
