<div class="col-xs-12" style="min-height:1000px;" >	
	<div 
		class="col-xs-12  bottom_line"
	>	
		系統訊息:{{message}}
	</div>
	<div 
		class="col-xs-12  bottom_line"
	>	
		<pagnation 
		data="cache.limit" 
		callback="get" 
		></pagnation>
	</div>
	
	<where-list
	data="fieldStruct"
	where-list="cache.where_list"
	order-list="cache.order_list"
	callback="get"
	></where-list>
	<div ng-include="'app/components/fansList/tableView/head.html?t='+Date.now"></div>
	<div ng-include="'app/components/fansList/tableView/row.html?t='+Date.now"></div>
</div>