<div class="col-xs-12"  >	
	<tag-system 
	wid="1"
	></tag-system>
	<div 
		class="col-xs-12  bottom_line"
	>	
		系統訊息:{{message}}
	</div>
	<div 
		class="col-xs-12  bottom_line"
	>	
		<pagnation 
		data="cache.limit" 
		callback="get" 
		></pagnation>
	</div>
	<div 
		class="col-xs-12  bottom_line"
	>	
		<div 
			class="col-xs-6 "
		>	
			<where-list
			data="fieldStruct"
			where-list="cache.where_list"
			order-list="cache.order_list"
			callback="get"
			></where-list>
		</div>
		<div 
			class="col-xs-6 "
		>
			<button 
			class="btn btn-primary btn-sm"
			ng-click="searchTag(cache.search_tid,get)"
			>以標籤搜尋粉絲團</button>
			
		</div>
	</div>
	<div 
		class="col-xs-6  bottom_line"
	>	
		<textarea
		placeholder="輸入網址或id enter新增"
		style="width:100px;vertical-align: middle;"
		ng-model="insert.search"
		ng-enter="add(insert);insert={};"
		></textarea>
		<div 
		style="display:inline-block;"
		ng-if="insert.search"
		>	
			{{insert.name}}
			<img 
			style="width:70px;height:70px;vertical-align: middle;"
			ng-src="https://graph.facebook.com/{{insert.fb_id}}/picture?width=100&height=100&type=large"
			/>
			{{insert.fan_count}}
			<div 
			style="vertical-align: middle;"
			class="fb-like" 
			data-href="http://www.facebook.com/{{insert.fb_id}}"
			data-layout="button_count" 
			data-action="like" 
			data-size="large" 
			data-show-faces="false" 
			data-share="false"
			></div>
		</div>
	</div>
	<div 
		class="col-xs-6  bottom_line"
	>	
		app_id:
		<textarea 
		style="width:250px;vertical-align: middle;"
		ng-model="AppData.id"
		ng-enter="setFB(AppData)"
		></textarea>
		secret:
		<textarea 
		style="width:250px;vertical-align: middle;"
		ng-model="AppData.secret"
		ng-enter="setFB(AppData)"
		></textarea>
	</div>
	<div 
	class="col-xs-12 row"
	style="height:70px;"
	>
		<div class="col-xs-{{view_width[0].col}}">
			<textarea 
			placeholder="搜尋名稱" 
			ng-enter="add_where_list(cache.where_list,{field:'name',type:2,value:'%'+search.name+'%'},1);search.name=undefined;" 
			ng-model="search.name" 
			></textarea>
		</div>
		<div class="col-xs-{{view_width[1].col}}">
			logo
		</div>
		<div class="col-xs-{{view_width[2].col}}">
			<select 
			ng-options="item.id as item.name for item in fieldStruct.field[0].list"
			ng-model="control_where.value"
			ng-change="add_where_list(cache.where_list,{field:'status',type:0,value:control_where.value},1);" 
			></select>
			<button
			ng-if="control_order"
			class="btn btn-primary btn-sm"
			ng-click="control_order.type=(control_order.type*1+1) % 2"
			>粉絲團排序{{control_order.type?'↓':'↑'}}</button>
		</div>
		<div class="col-xs-{{view_width[3].col}}">
			
		</div>
	</div>
	<div 
	ng-if="list.length"
	
	class="col-xs-12 row" 
	ng-repeat="item in list"
	style="height:100px;"
	>
		<div class="col-xs-{{view_width[0].col}}">
			<div>
				<a 
				class="btn btn-primary btn-sm"
				target="_blank" href="http://facebook.com/{{item.fb_id}}">
				{{item.name}}
				</a>
			</div>
			<div 
			style="display:block;"
			class="fb-like" 
			data-href="http://www.facebook.com/{{item.fb_id}}"
			data-layout="button_count" 
			data-action="like" 
			data-size="large" 
			data-show-faces="false" 
			data-share="false"
			></div>
		</div>
		<div class="col-xs-{{view_width[1].col}}" >
			<img 
			style="height:100%;"
			ng-src="https://graph.facebook.com/{{item.fb_id}}/picture?width=100&height=100&type=large"
			/>
		</div>
		<div class="col-xs-{{view_width[2].col}}">
			
			<select 
			ng-options="item.id as item.name for item in fieldStruct.field[0].list"
			ng-model="item.status"
			ng-change="ch({status:item.status},{id:item.id})"
			></select>
			<button 
			ng-click="update_online([item.fb_id])"
			class="btn btn-primary btn-sm" 
			>即時更新</button>
			
			
		</div>
		<div class="col-xs-{{view_width[3].col}}">
			<source-tag 
			id="item.id" 
			name="'正在編輯--'+item.name+'--粉絲團標籤'"
			><source-tag>
		</div>
	</div>
	<div class="col-xs-12" ng-if="!list.length">
		沒有資料
	</div>
</div>
	
