<div 
class="col-xs-12 odd text-center"
style="height:50px;"
>
	<div class="col-xs-{{view_width[0].col}}">
		<div >id:名稱:人數</div>
		<div >功能</div>
	</div>
	<div class="col-xs-{{view_width[1].col}}">
		logo
	</div>
	<div class="col-xs-{{view_width[2].col}}">
		註記
	</div>
	<div class="col-xs-{{view_width[3].col}}">
		<div >
			<input 
			style="width:90%;"
			tpye="text"
			placeholder="標籤列表(輸入後enter可搜尋)"
			ng-model="tag.name"
			ng-enter="searchTagName(tag);"
			/>
		</div>
	</div>
	<div class="col-xs-{{view_width[4].col}}">
		<div >
			<input 
			style="width:90%;"
			tpye="text"
			placeholder="粉絲團標籤(輸入後enter可搜尋)"
			ng-model="search.tag" 
			ng-enter="addSearch(search)"
			/>
		</div>
		<div >
			<div 
			style="display:inline-block;"
			ng-repeat="(name,list) in cache.customInsertList"
			>
				<button
				class="btn btn-sm btn-primary"
				ng-click="delCustomInsertList(name)"
				>{{name}}:</button>
				<select 
				ng-options="name as name for name in list"
				ng-model="search.tag"
				ng-change="addSearch(search)"
				></select>
			</div>
			<div 
			style="display:inline-block;"
			ng-repeat="(name,list) in cache.insert_list"
			>
				{{name}}:
				<select 
				ng-options="name as name for name in list"
				ng-model="search.tag"
				ng-change="addSearch(search)"
				></select>
			</div>
		</div>
	</div>
	<div class="col-xs-{{view_width[5].col}}">
		
	</div>
</div>