<div 
class="col-xs-12 text-center row"
>
	<div class="col-xs-{{view_width[0].col}}">
		<textarea 
		placeholder="搜尋名稱" 
		ng-enter="add_where_list(cache.where_list,{field:'name',type:2,value:'%'+search.name+'%'},1);search.name=undefined;" 
		ng-model="search.name" 
		></textarea>
	</div>
	<div class="col-xs-{{view_width[1].col}}">
		logo
	</div>
	<div class="col-xs-{{view_width[2].col}}">
		<select
		ng-options="item.id as item.name for item in fieldStruct.field[0].list"
		ng-model="control_where.value"
		ng-change="add_where_list(cache.where_list,{field:'status',type:0,value:control_where.value},1);" 
		></select>
		<button
		ng-if="control_order"
		class="btn btn-primary"
		ng-click="control_order.type=(control_order.type*1+1) % 2"
		>粉絲數排序{{control_order.type?'↓':'↑'}}</button>
	</div>


</div>